<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <style>
            .center{
                color: grey; 
                margin: auto;
                width: 60%;
                border: 3px;
                padding: 10px;"
            }
            h1{
                font-family: cursive;
                font-size: 57px;
            }
            p{
                color: black;
            }
        </style>        
    </head>
    <body>
        <div class="center">
            <h1>
                Welcome to Best Cars dealership.
            </h1>
            <p>
                Home to the best cars in North America.
                We sell domestic and imported cars at reasonable prices. 
                <br><br>

                <b>We are ranked #1 in the nation! Come and visit one of our many locations.</b>
            </p>
        </div>
    </body>
</html>