<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>   
    </head>
    <body>
        <p> <a class="btn btn-link" href="{% url 'djangoapp:index' %}"> Home </a></p>
        <h1>
            Contact Us 
        </h1>
        <p>
            <b>Address</b> : 1324 Fake Street, San Juel CA 93822 <br>
            <b>Telephone</b> :  1 432-135-5331 <br>
            <b>Email</b> : hellobestdealer@yahoo.com
        </p>
    </body>
</html>